/**
 * @name purple
 * @version 69
 * @description a really cozy purple theme
 * @author memento_mori_vibes
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @invite CGSFhaDvwq
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --app-bg: url('https://mentallystablebro.github.io/img/17.jpg');
  --app-blur: 3px;
  --app-margin: 24px;
  --app-radius: 8px;
  --accent-hue: 280;
  --accent-saturation: 100%;
  --accent-lightness: 51%;
  --accent-opacity: 1;
  --sidebar-color: rgba(0,0,0,0.4);
  --main-content-color: rgba(0,0,0,0.2);
  --undefined: 0;
  --interactive-normal: #aaa;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --undefined: 0;
  --background-modifier-hover: rgba(255,255,255,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgba(0,0,0,0.4);
  --message-radius: 8px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 280;
  --reply-saturation: 100%;
  --reply-lightness: 66%;
  --reply-opacity: 1;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.1;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 22px;
  --card-color: rgba(0,0,0,0.4);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */
